
.DS_Store

objs/
bin/

resources/pH/gpfile

resources/pH/gpfile

resources/pH/gpfile

resources/pH/gpfile.outcome

resources/pH/gpfile.processed

resources/pH/gpfile.processed2

resources/pH/gpfile

*.outcome

*.processed

*.processed2

resources/pH/gpfile.outcome

resources/pH/gpfile.outcome

resources/pH/gpfile.processed

resources/pH/gpfile.processed2
